<div class="gifContainer">{{#each (search-result model) as |gif|}}
  <div class="gifContainer__gif" id={{gif.id}}>
    <img src={{gif.images.fixed_width.url}}>
    <div class="overlay">
      <button class="vote" {{action "gifUpvote" gif.id}}>↑</button>
      <p class="numVotes"></p>
      <button class="vote" {{action "gifDownvote" gif.id}}>↓</button>
    </div>
  </div>
  {{/each}}
</div>