{{#each (search-result model) as |gif|}}
<div>
  <img src={{gif.images.fixed_height.url}}>
</div>
<div class="overlay">
  <button {{action "gifUpvote" gif.id}}>Upvote</button>
  <button {{action "gifDownvote" gif.id}}>Downvote</button>
</div>
{{/each}}